$lime-green:hsl(163, 72%, 41%);
$bright-red:hsl(356, 69%, 56%);
$facebook-col: hsl(208, 92%, 53%);
$twitter-col: hsl(203, 89%, 53%);
$instagram-col: linear gradient( hsl(37, 97%, 70%) to hsl(329, 70%, 58%));
$youtube-col: hsl(348, 97%, 39%);
$toggle-col-light: hsl(230, 22%, 74%);
$toggle-col-dark:(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
//background color
//dark mode
$d-very-darkblue-bg:hsl(230, 17%, 14%);
$d-very-darkblue-topbg:hsl(232, 19%, 15%);
$d-dark-saturatedblue-cardbg: hsl(228, 28%, 20%);
$d-desaturatedblue-text:hsl(228, 34%, 66%);
$d-white-text: hsl(0, 0%, 100%);
//light mode
$l-white-bg:hsl(0, 0%, 100%);
$l-very-paleblue-topbg: hsl(225, 100%, 98%);
$l-light-grayishblue-cardbg: hsl(227, 47%, 96%);
$l-dark-grayishblue-text: hsl(228, 12%, 44%);
$l-very-darkblue-text:hsl(230, 17%, 14%);
//font
$font-family:'Inter',
sans-serif;
$font-weight-normal:400;
$font-weight-bold:700;
//--------------------------Switch-------------------
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(210, 78%, 56%);
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        right: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}

.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}

input:checked+.slider {
    background-color: hsl(146, 68%, 55%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch-cont {
    text-align: center;
    .row {
        margin: 1% auto 3% 37%;
        h5 {
            padding: 0 5%;
        }
    }
}

#top {
    background-color: $l-very-paleblue-topbg;
    .card {
        background-color: $l-light-grayishblue-cardbg;
    }
    .up-color {
        color: $lime-green;
    }
    .down-color {
        color: $bright-red;
    }
}

.dark-mode-top {
    background-color: $d-very-darkblue-topbg;
    h1 {
        color: $d-white-text;
    }
    h3 {
        color: $d-white-text;
    }
    h4 {
        color: $d-desaturatedblue-text;
    }
    h5 {
        color: $d-desaturatedblue-text;
    }
    h6 {
        color: $d-desaturatedblue-text;
    }
    input {
        background-imag: linear gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    }
}

#middle {
    background-color: $l-white-bg;
    .card {
        background-color: $l-light-grayishblue-cardbg;
    }
    .up-color {
        color: $lime-green;
    }
    .down-color {
        color: $bright-red;
    }
}

.dark-mode-middle {
    background-color: $d-very-darkblue-bg;
    color: $d-white-text;
    h5 {
        color: $d-desaturatedblue-text;
    }
    h4 {
        color: $d-white-text;
    }
}

.dark-mode-card {
    background-color: $d-dark-saturatedblue-cardbg;
}