.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #378fe6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  right: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3eda82;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.switch-cont {
  text-align: center;
}

.switch-cont .row {
  margin: 1% auto 3% 37%;
}

.switch-cont .row h5 {
  padding: 0 5%;
}

#top {
  background-color: #f5f7ff;
}

#top .card {
  background-color: #f0f2fa;
}

#top .up-color {
  color: #1db489;
}

#top .down-color {
  color: #dc414c;
}

.dark-mode-top {
  background-color: #1f212e;
}

.dark-mode-top h1 {
  color: white;
}

.dark-mode-top h3 {
  color: white;
}

.dark-mode-top h4 {
  color: #8b97c6;
}

.dark-mode-top h5 {
  color: #8b97c6;
}

.dark-mode-top h6 {
  color: #8b97c6;
}

.dark-mode-top input {
  background-imag: linear gradient(90deg, #378fe6, #3eda82);
}

#middle {
  background-color: white;
}

#middle .card {
  background-color: #f0f2fa;
}

#middle .up-color {
  color: #1db489;
}

#middle .down-color {
  color: #dc414c;
}

.dark-mode-middle {
  background-color: #1e202a;
  color: white;
}

.dark-mode-middle h5 {
  color: #8b97c6;
}

.dark-mode-middle h4 {
  color: white;
}

.dark-mode-card {
  background-color: #252a41;
}
